@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.bg-style {
  background-image: linear-gradient(
      to top,
      #002444,
      #002444,
      rgba(0, 0, 0, 0) 50%
    ),
    url(../../public/Hero1.jpg);
  background-repeat: no-repeat;

  height: 100vh;
}

.trans-hover {
  transition: 0.2s ease-in-out all;
}
