@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-orange: #ea5709;
  --primary-blue: #002444;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.bg-style {
  background-image: linear-gradient(
      to top,
      #002444,
      #002444,
      rgba(0, 0, 0, 0) 50%
    ),
    url(../../public/Hero1.jpg);
  background-repeat: no-repeat;
}

.trans-hover {
  transition: 0.2s ease-in-out all;
}

.form-style {
  color: white;
  background-color: #01539b;
  border-radius: 0.375rem;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  padding: 0.5rem /* 8px */;
}

.button-style {
}

/* .h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-semibold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:dark:bg-dots_dark before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px];
}

.badge {
  @apply z-10 w-[200px] h-[68px] bg-orange-100 dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
} */

.button-35 {
  background: #002444;
  border-radius: 999px;
  box-shadow: #002444 0 10px 20px -10px;
  box-sizing: border-box;

  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button-34 {
  background: #ea5709;
  border-radius: 999px;
  box-shadow: #ea5709 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
